/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  justify-content: center;
  
}

.bck{
    background: url("finImg.png") no-repeat center center fixed;
    background-size: cover; /* Ensures the image stretches properly */
    height: 100vh;
}

/* Quiz Screen */
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  width: min(40rem, 95vw);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  overflow-wrap: break-word;
  word-break: break-word;
  margin: 40px auto;
  max-height: fit-content;
  margin-top: 9rem;
  
}

/* Quiz Title */
.app h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #001e4d;
}

/* Progress Info */
#level-container {
  font-size: 21px;
  font-weight: bold;
  color: #001e4d;
  margin-bottom: 10px;
  text-align: center;
}

.level-container {
  width: 80%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  margin: 10px auto 15px;
  overflow: hidden;


}

.progress-bar {
  height: 100%;
  width: 0%;
  background: #00c853;
  transition: width 0.4s ease;
}

/* Profile Name */
#pro_name {
  font-size: 17px;
  color: #010f27; 
  font-weight: 700;
  
}

/* Question */
.quiz h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
  line-height: 1.4;
  text-align: center;
}

#questions{
    font-size: 23px;
    color: #222;
}
#pro-name{
margin-left: -100px;
}


/* Answer Buttons */
.btn {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #333;
  background: linear-gradient(#e0fafe,#9fd3f9);
  color: #222;
  cursor: pointer;
  transition: all 0.4s;
}

.btn:hover:not([disabled]) {
  background: #003c9b;
  color: #fff;
}

.btn:disabled {
  cursor: no-drop;
  opacity: 0.7;
}

/* Next Button */
#next-btn {
  display: none;
  background: #001e4d;
  color: white;
  border: none;
  padding: 12px 20px;
  margin: 15px auto 0;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#next-btn:hover {
  background: #003080;
}

/* Answer States */
.correct {
  background: #9aeabc !important;
}

.incorrect {
  background: #ff9393 !important;
}
